a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: antiquewhite
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
details>summary{
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  color: blue;
  margin: 3px;
  cursor: pointer;
}
details[open] {
  padding: 0.5em;
}

details[open] summary {
  margin-bottom: 0.5em;
  
}
.allButton {
  display: flex;
  justify-content: space-around;
}

.bookedButton {
  color: #f0ebeb;
  background-color: green;
  border: none;
}

.Navber {
  /*border: 2px solid red;*/
  display: flex;
  margin-top: 15px;
  margin-left: 5%;
  margin-right: 5%;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #cbcff7;
  box-shadow: 10px 10px 20px rgba(0, 3, 7, 0.185);
}

.left {
  /*border: 2px solid green;*/
  margin-left: 30px;
}

.left h2 {
  /*border: 2px solid green;*/
  color: #1a1a1a;
}

.right {
  /*border: 2px solid black;*/
  display: flex;
  margin: 2px;
  justify-content: space-around;
  align-items: center;
}

.navitem {
  /*border: 2px solid blue;*/
  margin: 5px 10px;
  color: black;
  font-weight: lighter;
}

.navitem:hover {
  border-radius: 8px;
  border: 1px solid;
  padding: 0em 1.2em;
  font-size: 0.9em;
  font-weight: 300;
  font-family: inherit;
  background-color: #565353a1;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #646cffda;
  color: #f0ebeb;
}

navitem:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.formbody {

  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  background-color: #141ff45f;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  min-height: 80vh;

}

form {

  display: flex;
  flex-direction: column;
  min-height: max(fit-content, 80vh);
  border-radius: 5px;
  width: 70vw;
  background-color: #cbf7f7;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: -10px 10px 10px rgba(0, 3, 7, 0.25);
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;

}

form>h1 {

  color: rgba(0, 0, 0, 0.644);
  border-bottom: 1px solid rgba(0, 0, 0, 0.644);
  padding-bottom: 1vmax;

  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

input {
  padding: 1vmax;
  /*width: fit-content;*/
  width: 30vw;
  outline: none;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  font-size: 1.3vmax;
  border: none;
  margin-bottom: 15px;
  border-radius: 20px;
  background-color: #cbf7f7;
}

form>input[type="submit"] {
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: #eb4034;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.4vmax;
  transition: all 0.5s;


}

form>input[type="submit"]:hover {
  background-color: #c4342a;


}

.formiconplusi {
  border: 1px solid rgba(70, 70, 70, 0.5);
  display: flex;
  /* width: fit-content; */
  width: 70%;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 2px 5px;
  margin-bottom: 30px;
}

.formiconplusiradio{
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  
 
}
.formiconplusiradiobutton{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
/* home blog*/

.homeBlog {
  /*border: 2px solid black;*/
  margin-top: 30px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-radius: 20px;
  box-shadow: 10px 10px 50px rgba(104, 165, 244, 0.25);
  margin-bottom: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
}


.homeBlog .blogTitle {
  /*border: 2px solid pink;*/
  margin-left: 5%;
  margin-right: 5%;

}

.homeBlog .blogAddOn {
  /*border: 2px solid green;*/
  margin-left: 10%;
  margin-right: 5%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;

}

.homeBlog .blogAddOn .blogAddOntext {
  /*border: 2px solid blue;*/
  margin-right: 20px;
  margin: 0px 20px;
  color: red;
}

.homeBlog .blogDetails {
  /*border: 2px solid yellow;*/
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  margin-bottom: 20px;
  align-items: safe;
  justify-content: space-between;
  overflow: hidden;

}

.homeBlog .blogDetails .blogDescription {
  /*border: 2px solid blue;*/
  margin: 20px;
}

.homeBlog .blogDetails .blogDetailsImage {
  /*border: 2px solid blue;*/
  max-height: 300px;
  max-width: 40%;
  min-width: 30%;
  border-radius: 20px;

}

.homeBlog .blogDetails .blogDetailsImage:hover {
  /*border: 2px solid blue;*/
  transform: scale(1.2);
}

.homeImage {
  height: 85dvh;
  width: 90%;
  margin-left: 5%;
  margin-top: 10px;
  border-radius: 15px;
}

.homeContainer {
  position: relative;
  width: fit-content;
  left: 15%;
  padding-top: 15vh;
}

.homeData>h3 {
  text-align: center;
  padding: 10px;
}

.homeIcon {
  display: flex;
  align-items: center;
  padding: 2px 25px;
  margin: 30px 0px;
  background-color: #cbf7f7;
  border-radius: 22px;
  background: linear-gradient(145deg, #ddd4d4, #fffbfb);
  box-shadow: 8px 8px 16px #d8cfcf,
    -8px -8px 16px #ffffff;
}
.mapCatagory{
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 90%;

}
.mapContener {
  /*border: 2px solid black;*/
  margin: 20px 5%;
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: fit-content;

}

.showmapContener {
  /*border: 2px solid green;*/
  background-color: #f7e1e7;
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  border-radius: 10px;
  height: fit-content;
}

.showmapContener>h2 {
  color: red;
  text-align: center;
  padding: 10% 20%;
}

.maph2 {
  text-align: center;
  color: blue;
}

.mapsubContener {
  /*border: 2px solid blue;*/
  margin: 10px 20px;
  box-shadow: 10px 10px 50px rgba(104, 165, 244, 0.25);
  padding: 3px 10px 10px 10px;
  background-color: #f2e1f7;
  border-radius: 10px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
}

.map {
  /*border: 2px solid yellow;*/
  height: 81vh;
  width: 45%;

  overflow: hidden;
}

.map .mapimg {

  width: 100%;
  aspect-ratio: 1.2;
  border-radius: 20px;
}

.mapimg:hover {

  scale: 1.2;
}

.profile {
  /*border: 2px solid red ;*/
  margin-top: 15px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  height: fit-content;

}

.profileNav {
  /*border: 2px solid blue ;*/
  width: 20%;
  border-radius: 20px;
  background-color: #a6a9e8;
  box-shadow: -10px 10px 70px rgba(69, 102, 146, 0.25);
  height: max-content;
  position: fixed;
}

.profilesub {

  width: 60%;
  min-height: 90vh;
  position: absolute;
  left: 30%;
  margin-bottom: 30px;

}

.NavProfile {
  /*border: 2px solid green ;*/

  margin: 10% 10px;


}

.ProfileData {
  /*border: 2px solid pink ;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}

.profileImage {
  margin-top: 15px;
  height: 100px;
  width: 100px;
  border-radius: 50%;

}

.profilename {
  /*border: 2px solid red ;*/
  width: 90%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;

}

.profileemail {
  /*border: 2px solid red ;*/
  width: 90%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 15px 0px;
}

.ProfileLink {
  /*border: 2px solid red ;*/
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

.Linkitem {
  color: black;
  font-weight: lighter;


}

.Linkitem:hover {
  border-radius: 8px;
  border: 1px solid;
  padding: 0px 1.9rem;
  font-size: 0.9em;
  font-weight: 300;
  font-family: inherit;
  background-color: #bfb7b7a1;
  cursor: pointer;
  transition: border-color 0.25s;
  border-color: #646cffda;
  color: #f0ebeb;
}

.getBlanceContainer {
  /*border: 2px solid red ;*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 30px;
  color: blue;
}

.paymentProfilecontaner {
  width: 90%;
  margin: auto;
  /*border: 2px solid green;*/
  margin-bottom: 20px;
  border-radius: 26px;
  background: linear-gradient(315deg, #d8d3d3, #fffafa);
  box-shadow: -13px -13px 45px #c2bebe,
    13px 13px 45px #ffffff;
  padding-top: 3px;
}

.paymentProfilecontaner>H2 {
  text-align: center;
  color: blue;
}

.paymentProfilesubContaner {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  justify-content: left;

}

.allrentCar {
  /*border: 2px solid red;*/
  width: 90%;
  margin: auto;
  height: fit-content;
  margin-bottom: 20px;
  border-radius: 10px;
  border-radius: 26px;
  background: linear-gradient(315deg, #d8d3d3, #fffafa);
  box-shadow: -13px -13px 45px #c2bebe,
    13px 13px 45px #ffffff;
  padding-top: 3px;
  padding-top: 3px;
}

.allrentCar>h2 {
  text-align: center;
  color: blue;
}

.ProfileDriver {
  /*border: 2px solid red;*/
  height: fit-content;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 21px;
  background-color: #cbf7f7;
  box-shadow: -10px 10px 10px rgba(0, 3, 7, 0.25);
  padding-top: 15px;
  padding-bottom: 15px;

}

.booked {
  /*border: 2px solid blue;*/
  height: fit-content;
  margin: 20px;
  margin-top: 30px;
  border-radius: 26px;
  background: linear-gradient(315deg, #d8d3d3, #fffafa);
  box-shadow: -13px -13px 50px #c2bebe,
    13px 13px 45px #ffffff;
  padding-top: 3px;
  padding-bottom: 3px;
}

.booked>h2 {
  color: blue;
  text-align: center;
}

.allCar {
  /*border: 2px solid green;*/
  margin: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: normal;
  margin-bottom: 30px;
  border-radius: 26px;
  background: linear-gradient(315deg, #d8d3d3, #fffafa);
  box-shadow: -13px -13px 45px #c2bebe,
    13px 13px 45px #ffffff;
}

.allCar>h2 {

  text-align: center;
  color: blue;
}

.AllCarDetails {
  /*border: 2px solid red;*/
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 10px 0px;
  border-radius: 32px;
  background: #f0eaea;
  box-shadow: inset -23px -23px 45px #ccc7c7,
    inset 23px 23px 45px #ffffff;
}

.carData {
  padding: 0px 5px;
  margin: 10px 15px;
  font-size: medium;
}

.carDataSpan {
  color: blue;

}

.homeImage {
  
  background-image: url("https://images.unsplash.com/photo-1519641471654-76ce0107ad1b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  
}

@media only screen and (min-width:768px) and (max-width:1023px) {
  form {
    width: 80%;
  }

  .mapContener {
    border: 2px solid green;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .map {
    width: 90%;
    margin: auto;
    aspect-ratio: 1;
    height: auto;
    margin-top: 10px;
  }

  .showmapContener {
    width: 93%;
  }
  
}

@media only screen and (max-width: 767px) {
  .homeImage {
  
    background-image: url("https://images.unsplash.com/photo-1576469196962-433b47333f9b?q=80&w=1854&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    width: fit-content;
  }
  form {
    width: 90%;
  }

  .profile {
    flex-direction: column;
  }

  .profileNav {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .profilesub {
    left: 0%;
    width: 100%;
    height: fit-content;
    position: relative;
  }

  .NavProfile {
    /*border: 2px solid green;*/
    margin: 0% 0px;
  }

  .ProfileData {
    /*border: 2px solid pink;*/
    margin-bottom: 10px;
  }

  .ProfileLink {
    /*border: 2px solid red ;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }

  .getBlanceContainer {
    flex-direction: column;
  }

  .Linkitem {
    padding-left: 10px;

  }

  .homeContainer {
    width: fit-content;
    left: 1%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
  }
  
  .homeIcon {
    width: fit-content;
    margin: 30px 20px;
  }

  .paymentProfilecontaner>h2 {
    font-size: medium;
  }

  .allrentCar>h2 {
    font-size: medium;
  }

  .booked>h2 {
    font-size: medium;
  }

  .allCar>h2 {
    font-size: medium;
  }

  .mapContener {
    border: 2px solid green;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .map {
    width: 90%;
    margin: auto;
    aspect-ratio: 1;
    height: auto;
    margin-top: 10px;
  }

  .showmapContener {
    width: 93%;
  }


}